html{
	background:#efe9e7; 
}

.wrap{
  width: 850px;
  margin: 0 auto;

}


.menu{
	width: 250px;
	margin:0 auto;
	float: left;
	font-family: 微軟正黑體;

}

.menu li{
	display: inline;
}

.menu li a{
	display: block;
	color: #800000;
	padding: 10px 5px;
	text-decoration: none;
    border-bottom-style:solid ;
    border-bottom-color: #800000;
    border-bottom-width: 1px;

}

.menu li a:hover{
	background: #800000;
	color: #fff;

}

.content{    
    width: 850px;
    margin-bottom: 20px;
}

.food{
    float:right;
    width: 600px;	
    margin:0 auto;
}

.search{
    float:right;
    width: 600px;
    height: 50px;
    margin:20px auto;
}

.box{
	float: left;
	color: #800000;
	width: 180px;
	height: 250px;
	margin-left: 10px;
	margin-bottom: 20px;
	box-shadow: 3px 3px	#d3d3d3;
	text-align:center;
	position: relative;
	line-height: 10px;
	
}

.clear{
	clear:both;
}

.box img{
	width: 180px;
	height: 80px;

}

.car{
	color: #ff4500;
	border: solid;
	border-width: 2px;
	border-color: #ff4500; 
	border-radius:5px;
	text-align:center;
	font-family: 微軟正黑體;
	width: 150px;
	margin: 10px;
	font-size: 15px;
	line-height: 20px;
}

.car img{
	width: 18px;
	height: 18px;
}

p{
	font-family: 微軟正黑體;
	font-size: 20px;
}

.favorite{	
	position: absolute;
	left: 5px;
	top: 5px;
	z-index: 10;
}

.favorite img{
	width: 25px;
	height: 25px;
}

.hot{
	position: absolute;
	right: -3px;
	top: -3px;
	z-index: 10;
}

.hot img{
	width: 60px;
	height: 60px;
}
